@font-face
{
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/AllertaStencil-Regular.ttf) format('opentype');
}
@font-face
{
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/BlackOpsOne-Regular.ttf) format('opentype');
}